<h2>Projects:</h2>
<h3>Care4U:</h3>
<p>Worked to implement an application that provides a common template for hospitals to manage appointments and handle other key information areas without having to set up their own software for the same, thus lowering the overall cost by approximately 35%.</p>
<h3>Emotica - the Song Generator:</h3>
<p>Played a pivotal role in developing the backend system for this mood-based song generator that uses the power of music to uplift and motivate those who are hurting while giving 100% user privacy.</p>
<hr>

